# See how Encounter Type and Demographics relate to each other using a Chi Square

## Import packages

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Encounters = pd.read_excel("/Users/suzejones/Downloads/Finalsbo-encounters-fy20-fy23-apr .xlsx")

In [4]:
Encounters.head()

,Fiscal Year,Month Grouping,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,El Salvador,Title 8,Inadmissibles,2
1,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Guatemala,Title 8,Inadmissibles,1
2,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Mexico,Title 8,Inadmissibles,91
3,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Other,Title 8,Inadmissibles,8
4,2020,FYTD,OCT,Office of Field Operations,FMUA,El Salvador,Title 8,Inadmissibles,38

In [5]:
Encounters.columns

Index(['Fiscal Year', 'Month Grouping', 'Month (abbv)', 'Component',
       'Demographic', 'Citizenship Grouping', 'Title of Authority',
       'Encounter Type', 'Encounter Count'],
      dtype='object')

In [6]:
from scipy import stats

In [7]:
Encounters_crosstab = pd.crosstab(Encounters['Encounter Type'], Encounters['Demographic'])

In [8]:
Encounters_crosstab

Demographic     Accompanied Minors  FMUA  Single Adults  UC / Single Minors
Encounter Type
Apprehensions                    0   212            215                 214
Expulsions                     161   190            379                  96
Inadmissibles                  130   203            215                 207

# The demographics is largely connected to the Encounter Type or what 
# happened to the people when they crossed the border.