# See how Encounter Type and Month relate to each other using a Chi Square

## Import packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Encounters = pd.read_excel("/Users/suzejones/Downloads/Finalsbo-encounters-fy20-fy23-apr .xlsx")

In [3]:
Encounters.head()

,Fiscal Year,Month Grouping,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,El Salvador,Title 8,Inadmissibles,2
1,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Guatemala,Title 8,Inadmissibles,1
2,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Mexico,Title 8,Inadmissibles,91
3,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Other,Title 8,Inadmissibles,8
4,2020,FYTD,OCT,Office of Field Operations,FMUA,El Salvador,Title 8,Inadmissibles,38

In [4]:
Encounters.columns

Index(['Fiscal Year', 'Month Grouping', 'Month (abbv)', 'Component',
       'Demographic', 'Citizenship Grouping', 'Title of Authority',
       'Encounter Type', 'Encounter Count'],
      dtype='object')

In [5]:
from scipy import stats

In [6]:
Encounters_crosstab = pd.crosstab(Encounters['Encounter Type'], Encounters['Month (abbv)'])

In [7]:
Encounters_crosstab

Month (abbv)    APR  AUG  DEC  FEB  JAN  JUL  JUN  MAR  MAY  NOV  OCT  SEP
Encounter Type
Apprehensions    58   45   60   60   60   44   45   60   44   60   60   45
Expulsions       87   70   61   66   59   67   66   83   66   66   69   66
Inadmissibles    71   57   69   72   68   52   55   69   51   72   66   53

# The month of the encounter is largely connected to the Encounter Type or what happened to the people when they crossed the border. It is interesting
# Mexico had the most expulsions