In [44]:
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
encounters = pd.read_csv (r'C:\Users\Christina\OneDrive - Christina Chavez\Desktop\sbo-encounters-fy20-fy23-apr.csv')
encounters.head()

,Fiscal Year,Month Grouping,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,El Salvador,Title 8,Inadmissibles,2
1,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Guatemala,Title 8,Inadmissibles,1
2,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Mexico,Title 8,Inadmissibles,91
3,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Other,Title 8,Inadmissibles,8
4,2020,FYTD,OCT,Office of Field Operations,FMUA,El Salvador,Title 8,Inadmissibles,38

#### drop columns

In [46]:
encounters1 = encounters.drop(['Month Grouping', 'Component', 'Demographic', 'Citizenship Grouping', 'Title of Authority', 'Encounter Type'], axis=1)

In [47]:
encounters1.head()

  Fiscal Year Month (abbv)  Encounter Count
0        2020          OCT                2
1        2020          OCT                1
2        2020          OCT               91
3        2020          OCT                8
4        2020          OCT               38

#### Change the Month abbreviations to numbers

In [48]:
encounters1['Month (abbv)'] = encounters1['Month (abbv)'].map(month_mapping)
month_mapping = {
    'JAN': 1,
    'FEB': 2,
    'MAR': 3,
    'APR': 4,
    'MAY': 5,
    'JUN': 6,
    'JUL': 7,
    'AUG': 8,
    'SEP': 9,
    'OCT': 10,
    'NOV': 11,
    'DEC': 12
}

#### Convert column to integer

In [49]:
encounters1['Month (abbv)'] = encounters1['Month (abbv)'].astype(int)

In [50]:
encounters1['Month (abbv)'].head()

0    10
1    10
2    10
3    10
4    10
Name: Month (abbv), dtype: int32

In [51]:
encounters1.head()

  Fiscal Year  Month (abbv)  Encounter Count
0        2020            10                2
1        2020            10                1
2        2020            10               91
3        2020            10                8
4        2020            10               38

#### Run Correlation Matrixes

In [52]:
encounters1.corr()

                 Month (abbv)  Encounter Count
Month (abbv)         1.000000         0.009425
Encounter Count      0.009425         1.000000

In [53]:
encounters1.corr(method = 'pearson')

                 Month (abbv)  Encounter Count
Month (abbv)         1.000000         0.009425
Encounter Count      0.009425         1.000000

#### Add pretty colors

In [54]:
encounters1.corr(method='pearson').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)

##### Conclusion: There isn't enough correlation to predict influxes of encounters.