# Stepwise Regression using Logistic Regression 1

## import packages

In [768]:
import statsmodels.api as sm
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats
from scipy.stats import ttest_ind

## Import data

In [769]:
Encounters = pd.read_excel('/Users/suzejones/Downloads/Finalsbo-encounters-fy20-fy23-apr .xlsx')

In [770]:
Encounters.head()

,Fiscal Year,Month Grouping,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,El Salvador,Title 8,Inadmissibles,2
1,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Guatemala,Title 8,Inadmissibles,1
2,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Mexico,Title 8,Inadmissibles,91
3,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Other,Title 8,Inadmissibles,8
4,2020,FYTD,OCT,Office of Field Operations,FMUA,El Salvador,Title 8,Inadmissibles,38

## Check data types

In [771]:
Encounters.dtypes

Fiscal Year             object
Month Grouping          object
Month (abbv)            object
Component               object
Demographic             object
Citizenship Grouping    object
Title of Authority      object
Encounter Type          object
Encounter Count          int64
dtype: object

## Drop columns not needed

In [772]:
Encounters1 = Encounters.drop(['Month Grouping'], axis=1)

In [773]:
Encounters1.head()

,Fiscal Year,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,2020,OCT,Office of Field Operations,Accompanied Minors,El Salvador,Title 8,Inadmissibles,2
1,2020,OCT,Office of Field Operations,Accompanied Minors,Guatemala,Title 8,Inadmissibles,1
2,2020,OCT,Office of Field Operations,Accompanied Minors,Mexico,Title 8,Inadmissibles,91
3,2020,OCT,Office of Field Operations,Accompanied Minors,Other,Title 8,Inadmissibles,8
4,2020,OCT,Office of Field Operations,FMUA,El Salvador,Title 8,Inadmissibles,38

## Map columns to numeric

#### Demographic Column using mapping

In [774]:
demographic_category_mapping = {
    'Accompanied Minors': 0,
    'FMUA': 0,
    'Single Adults': 0,
    'UC / Single Minors': 1
}

In [775]:
Encounters1['Demographic'] = Encounters1['Demographic'].map(demographic_category_mapping)

In [776]:
Encounters1['Demographic'] = Encounters1['Demographic'].astype(int)

In [777]:
Encounters1['Demographic'].head()

0    0
1    0
2    0
3    0
4    0
Name: Demographic, dtype: int64

In [778]:
Encounters1['Demographic'].head()

0    0
1    0
2    0
3    0
4    0
Name: Demographic, dtype: int64

In [779]:
Encounters1.head()

,Fiscal Year,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,2020,OCT,Office of Field Operations,0,El Salvador,Title 8,Inadmissibles,2
1,2020,OCT,Office of Field Operations,0,Guatemala,Title 8,Inadmissibles,1
2,2020,OCT,Office of Field Operations,0,Mexico,Title 8,Inadmissibles,91
3,2020,OCT,Office of Field Operations,0,Other,Title 8,Inadmissibles,8
4,2020,OCT,Office of Field Operations,0,El Salvador,Title 8,Inadmissibles,38

   #### Fiscal Year Column using mapping

In [780]:
unique_categories = Encounters1['Fiscal Year'].unique()

In [781]:
for category in unique_categories:
    print(category)

2020
2021
2022
2023 (FYTD)

In [782]:

fiscalyear_mapping = {
    '2020': 20,
    '2021': 21,
    '2022': 22,
    '2023 (FYTD)': 23,
}

Encounters1['Fiscal Year'] = Encounters1['Fiscal Year'].map(fiscalyear_mapping)

In [783]:
Encounters1['Fiscal Year'] = Encounters1['Fiscal Year'].fillna(0).astype(int)

In [784]:
Encounters1['Fiscal Year'] = Encounters1['Fiscal Year'].astype(int)

In [785]:
Encounters1['Fiscal Year'].head()

0    0
1    0
2    0
3    0
4    0
Name: Fiscal Year, dtype: int64

In [786]:
Encounters1.head()

,Fiscal Year,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,0,OCT,Office of Field Operations,0,El Salvador,Title 8,Inadmissibles,2
1,0,OCT,Office of Field Operations,0,Guatemala,Title 8,Inadmissibles,1
2,0,OCT,Office of Field Operations,0,Mexico,Title 8,Inadmissibles,91
3,0,OCT,Office of Field Operations,0,Other,Title 8,Inadmissibles,8
4,0,OCT,Office of Field Operations,0,El Salvador,Title 8,Inadmissibles,38

In [841]:
Encounters1['Fiscal Year'].value_counts()

0     1844
23     378
Name: Fiscal Year, dtype: int64

#### Recoding Month by mapping

In [787]:
Encounters1['Month (abbv)'] = Encounters1['Month (abbv)'].map(month_mapping)
month_mapping = {
    'JAN': 1,
    'FEB': 2,
    'MAR': 3,
    'APR': 4,
    'MAY': 5,
    'JUN': 6,
    'JUL': 7,
    'AUG': 8,
    'SEP': 9,
    'OCT': 10,
    'NOV': 11,
    'DEC': 12
}

In [788]:
Encounters1['Month (abbv)'] = Encounters1['Month (abbv)'].astype(int)

In [789]:
Encounters1['Month (abbv)'].head()

0    10
1    10
2    10
3    10
4    10
Name: Month (abbv), dtype: int64

In [790]:
Encounters1.head()

,Fiscal Year,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,0,10,Office of Field Operations,0,El Salvador,Title 8,Inadmissibles,2
1,0,10,Office of Field Operations,0,Guatemala,Title 8,Inadmissibles,1
2,0,10,Office of Field Operations,0,Mexico,Title 8,Inadmissibles,91
3,0,10,Office of Field Operations,0,Other,Title 8,Inadmissibles,8
4,0,10,Office of Field Operations,0,El Salvador,Title 8,Inadmissibles,38

#### Citizenship Grouping recode with mapping

In [791]:
unique_categories = Encounters1['Citizenship Grouping'].unique()

In [792]:
for category in unique_categories:
    print(category)

El Salvador
Guatemala
Mexico
Other
Honduras

In [793]:
citizenship_mapping = {
    'El Salvador': 5,
    'Guatemala': 6,
    'Mexico': 7,
    'Other': 8,
    'Honduras': 9,
}

In [794]:
Encounters1['Citizenship Grouping'] = Encounters1['Citizenship Grouping'].map(citizenship_mapping)

In [795]:
Encounters1['Citizenship Grouping'].head()

0    5
1    6
2    7
3    8
4    5
Name: Citizenship Grouping, dtype: int64

In [796]:
(Encounters1).head()

,Fiscal Year,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,0,10,Office of Field Operations,0,5,Title 8,Inadmissibles,2
1,0,10,Office of Field Operations,0,6,Title 8,Inadmissibles,1
2,0,10,Office of Field Operations,0,7,Title 8,Inadmissibles,91
3,0,10,Office of Field Operations,0,8,Title 8,Inadmissibles,8
4,0,10,Office of Field Operations,0,5,Title 8,Inadmissibles,38

#### Component recoding with mapping

In [797]:
unique_categories = Encounters1['Component'].unique()

In [798]:
for category in unique_categories:
    print(category)

Office of Field Operations
U.S. Border Patrol

In [799]:
component_mapping = {
    'Office of Field Operations': 10,
    'U.S. Border Patrol': 20,
}

In [800]:
Encounters1['Component'] = Encounters1['Component'].map(component_mapping)

In [801]:
Encounters1['Component'].head()

0    10
1    10
2    10
3    10
4    10
Name: Component, dtype: int64

In [802]:
Encounters1.head()

,Fiscal Year,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,0,10,10,0,5,Title 8,Inadmissibles,2
1,0,10,10,0,6,Title 8,Inadmissibles,1
2,0,10,10,0,7,Title 8,Inadmissibles,91
3,0,10,10,0,8,Title 8,Inadmissibles,8
4,0,10,10,0,5,Title 8,Inadmissibles,38

#### Recoding Title of Authority with mapping

In [803]:
unique_categories = Encounters1['Title of Authority'].unique()

In [804]:
for category in unique_categories:
    print(category)

Title 8
Title 42

In [805]:
authority_mapping = {
    'Title 8': 8,
    'Title 42': 42,
}

In [806]:
Encounters1['Title of Authority'] = Encounters1['Title of Authority'].map(authority_mapping)

In [807]:
Encounters1['Title of Authority'].head()

0    8
1    8
2    8
3    8
4    8
Name: Title of Authority, dtype: int64

In [808]:
Encounters1.head()

,Fiscal Year,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,0,10,10,0,5,8,Inadmissibles,2
1,0,10,10,0,6,8,Inadmissibles,1
2,0,10,10,0,7,8,Inadmissibles,91
3,0,10,10,0,8,8,Inadmissibles,8
4,0,10,10,0,5,8,Inadmissibles,38

#### Recoding Encounter Type

In [833]:
unique_categories = Encounters1['Encounter Type'].unique()

In [834]:
for category in unique_categories:
    print(category)

0

In [835]:
encountertype_mapping = {
    'Inadmissibles': 1,
    'Apprehensions': 2,
    'Expulsions': 0
}

In [836]:
Encounters1['Encounter Type'] = Encounters1['Encounter Type'].map(encountertype_mapping)

In [837]:
Encounters1['Encounter Type'] = Encounters1['Encounter Type'].fillna(0).astype(int)

In [838]:
Encounters1['Encounter Type'].head()

0    0
1    0
2    0
3    0
4    0
Name: Encounter Type, dtype: int64

In [839]:
Encounters1.head()

,Fiscal Year,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,0,10,10,0,5,8,0,2
1,0,10,10,0,6,8,0,1
2,0,10,10,0,7,8,0,91
3,0,10,10,0,8,8,0,8
4,0,10,10,0,5,8,0,38

In [840]:
Encounters1['Encounter Type'].value_counts()

0    2222
Name: Encounter Type, dtype: int64

## Create a subset of predictor variables

In [815]:
predictors = Encounters1[['Fiscal Year', 'Month (abbv)', 'Demographic', 'Citizenship Grouping', 'Component', 'Encounter Type', 'Title of Authority']]

In [816]:
print(predictors.dtypes)

Fiscal Year             int64
Month (abbv)            int64
Demographic             int64
Citizenship Grouping    int64
Component               int64
Encounter Type          int64
Title of Authority      int64
dtype: object

## Add constant column if needed

In [817]:
predictors = sm.add_constant(predictors)

## Fit logistic regression model using stepwise selection

In [843]:
import statsmodels.api as sm
from mlxtend.feature_selection import stepwise_selection

ModuleNotFoundError: No module named 'mlxtend'

In [845]:
model = sm.Logit(Encounters1['Demographic'], predictors)
result = model.fit(method='newton', maxiter=100, step=1)

PerfectSeparationError: Perfect separation detected, results not available